{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/paginator.css' %}"/>
<h3>Latest Poll Questions</h3>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form action="{% url 'polls:vote' %}" method="post">
    {% csrf_token %}
    {% for question in latest_question_list %}
        <div>
            <h4>{{ question.question_text }}</h4>
            {% if user_has_voted %}
                {% for choice in question.choice_set.all %}
                    <label>{{ choice.choice_text }}: {{ choice.votes }} vote{{ choice.votes|pluralize }}</label><br>
                {% endfor %}
            {% else %}
                {% for choice in question.choice_set.all %}
                    {% if question.is_enabled %}
                        <input type="radio" name="question_{{ question.id }}" id="choice{{ choice.id }}" value="{{ choice.id }}">
                        <label for="choice{{ choice.id }}">{{ choice.choice_text }}</label><br>
                    {% else %}
                        <input type="radio" name="question_{{ question.id }}" id="choice{{ choice.id }}" value="{{ choice.id }}" disabled>
                        <label for="choice{{ choice.id }}" style="color: #999;">{{ choice.choice_text }}</label><br>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if not question.is_enabled %}
                <p style="color: rgb(255, 94, 0);">This poll is currently disabled.</p>
            {% endif %}
        </div>
    {% empty %}
        <p>No polls are available.</p>
    {% endfor %}
    <!-- Display pagination controls -->
    <div class="pagination">
        <span class="step-links">
            {% if latest_question_list.has_previous %}
                <a href="?page={{ latest_question_list.previous_page_number }}" class="btn btn-secondary">&laquo; Previous</a>
            {% else %}
                <a class="btn btn-secondary disabled" aria-disabled="true">Previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ latest_question_list.number }} of {{ latest_question_list.paginator.num_pages }}
            </span>
    
            {% if latest_question_list.has_next %}
                <a href="?page={{ latest_question_list.next_page_number }}" class="btn btn-secondary">Next &raquo;</a>
            {% else %}
                <a class="btn btn-secondary disabled" aria-disabled="true">Next</a>
            {% endif %}
        </span>
    </div>
    
    
        
    {% if latest_question_list %}
        {% if user_has_voted %}
            <a href="{% url 'polls:index' %}">Vote Again</a>
        {% else %}
            <input type="submit" value="Vote">
        {% endif %}
    {% endif %}
</form>
{% endblock %}
