{% extends "base.html" %}
{% load static %}
{% block content %}
<h3>Latest Poll Questions</h3>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form action="{% url 'polls:vote' %}?page={{ latest_question_list.number }}" method="post">
    {% csrf_token %}
    {% if user_has_voted %}
        <p class="vote-success-message">🎉🎉 Thank you for voting! 😊😊</p>
        <a href="{% url 'polls:index' %}?page={{ latest_question_list.number }}" class="button underline">Go Back</a>
        <a href="{% url 'polls:index' %}?page={{ latest_question_list.number }}" class="button underline">Vote Again</a>
    {% else %}
        {% for question in latest_question_list %}
            <div>
                <h4>{{ question.question_text }}</h4>
                <!-- Display question image if exists and fallback mechanism of the default image if no image -->
                <div class="image-container">
                    {% if question.image %}
                        <img src="{{ question.image.url }}" alt="Question Image" class="question-image" />
                    {% else %}
                        <img src="/static/blog/images/logo.png" alt="Default Image" class="default-image" />
                    {% endif %}
                </div>
                {% for choice in question.choice_set.all %}
                    {% if question.is_enabled %}
                        <input type="radio" name="question_{{ question.id }}" id="choice{{ choice.id }}" value="{{ choice.id }}">
                        <label for="choice{{ choice.id }}">{{ choice.choice_text }}</label><br>
                    {% else %}
                        <input type="radio" name="question_{{ question.id }}" id="choice{{ choice.id }}" value="{{ choice.id }}" disabled>
                        <label for="choice{{ choice.id }}" class="choice">{{ choice.choice_text }}</label><br>
                    {% endif %}
                {% endfor %}
            </div>
        {% empty %}
            <p>No polls are available.</p>
        {% endfor %}
        <!-- Display paginator only if there are polls and the user has not voted -->
        {% if latest_question_list and not user_has_voted %}
            <div class="pagination">
                <span class="step-links">
                    {% if latest_question_list.has_previous %}
                        <button type="button" class="button" onclick="window.location='?page={{ latest_question_list.previous_page_number }}'">&laquo; Previous</button>
                    {% else %}
                        <button type="button" class="button disabled" aria-disabled="true">Previous</button>
                    {% endif %}

                    {% for i in latest_question_list.paginator.page_range %}
                        {% if i == latest_question_list.number %}
                            <button type="button" class="button btn-custom">{{ i }}</button>
                        {% else %}
                            <button type="button" class="button" onclick="window.location='?page={{ i }}{% if user_has_voted %}&voted=true{% endif %}'">{{ i }}</button>
                        {% endif %}
                    {% endfor %}

                    {% if latest_question_list.has_next %}
                        <button type="button" class="button" onclick="window.location='?page={{ latest_question_list.next_page_number }}'">Next &raquo;</button>
                    {% else %}
                        <button type="button" class="button disabled" aria-disabled="true">Next</button>
                    {% endif %}
                </span>
            </div>
        {% endif %}
        {% if latest_question_list %}
            <input type="submit" value="Vote">
        {% endif %}
        <a href="{% url 'polls:all_results' %}" class="button view-btn">View Results</a>
    {% endif %}
</form>
{% endblock %}
