.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.step-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
