{% extends "base.html" %}
{% block content %}
<h1>{{ survey.title }}</h1>
<form method="post">
  {% csrf_token %}
  {% for question in survey.questions.all %}
    <div class="questions">
      <h4>{{ question.question_text }}</h4>
      {% if question.question_type == question.MULTIPLE_CHOICE %}
        {% for choice in question.choices.all %}
          <input type="radio" name="question_{{ question.id }}" id="choice{{ choice.id }}" value="{{ choice.id }}">
          <label for="choice{{ choice.id }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
      {% elif question.question_type == question.CHECKBOX %}
        {% for choice in question.choices.all %}
          <input type="checkbox" name="question_{{ question.id }}[]" id="choice{{ choice.id }}" value="{{ choice.id }}">
          <label for="choice{{ choice.id }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
      {% elif question.question_type == question.TEXT %}
        <input type="text" name="question_{{ question.id }}" id="text_question{{ question.id }}">
      {% elif question.question_type == question.LONG_TEXT %}
        <textarea name="question_{{ question.id }}" id="long_text_question{{ question.id }}"></textarea>
      {% endif %}
    </div>
  {% endfor %}
  <button type="submit">Submit</button>
</form>
{% endblock %}
