{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/customization.css' %}"/>
<h2>{{ survey.title }}</h2>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<form method="post" id="surveyForm" data-survey-slug="{{survey.slug}}">
  <input type="hidden" name="all_responses" id="allResponsesInput" value="">
  {% csrf_token %}
  {{ form|crispy }}
  <!-- Display pagination links for questions -->
  {% if current_page_questions %}
      <div class="pagination">
          <span class="step-links">
              {% if current_page_questions.has_previous %}
                  <button type="button" class="button" onclick="window.location='?page={{ current_page_questions.previous_page_number }}'">&laquo; Previous</button>
              {% else %}
                  <button type="button" class="button disabled" aria-disabled="true">Previous</button>
              {% endif %}

              {% for i in current_page_questions.paginator.page_range %}
                  {% if i == current_page_questions.number %}
                      <button type="button" class="button btn-custom">{{ i }}</button>
                  {% else %}
                      <button type="button" class="button" onclick="window.location='?page={{ i }}'">{{ i }}</button>
                  {% endif %}
              {% endfor %}

              {% if current_page_questions.has_next %}
                  <button type="button" class="button" onclick="window.location='?page={{ current_page_questions.next_page_number }}'">Next &raquo;</button>
              {% else %}
                  <button type="button" class="button disabled" aria-disabled="true">Next</button>
              {% endif %}
          </span>
      </div>
  {% endif %}
  {% if current_page_questions.number == current_page_questions.paginator.num_pages %}
    <input type="hidden" name="stored_values" id="storedValuesInput">
    <button type="submit" class="button btn-submit">Submit</button>
  {% endif %}
</form>
<script src="{% static 'assets/js/store_data.js' %}"></script>
{% endblock %}
