{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mt-8">
        <div class="col-md-12">
            <blockquote class="text-justify mt-4 ">
                The <em><b>Myanmar Data Tech Team (MMDT)</b></em> was established in 2022, comprising a group of experts
                from
                the data industry in collaboration with the Founder of VigorZwe. The primary focus of MMDT is on
                harnessing the power of data and technology to drive advancements within the education sector.
                Through meticulous research and analysis, the team aims to generate valuable insights and develop
                innovative solutions that contribute to the overall improvement of education in Myanmar.
                Despite being relatively new, the MMDT has already demonstrated its capabilities by successfully
                securing grants and undertaking various research projects.
            </blockquote>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card card-box-shadow">
                <img src="{% static 'blog/images/drmyo.jpeg' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <h6 class="card-title">Dr Myo thida </h6>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-box-shadow">
                <div class="card-body">
                    <h5 class="card-title">Founder</h5>
                    <p class="card-text">Dr. Myo Thida is a visionary leader and the founder of VigorZwe Co. Ltd. With
                        an impressive academic background, she earned her Ph.D. in Computer Vision from Kingston
                        University in 2013. Prior to that, she completed her MEng and BEng degrees at Nanyang
                        Technological University (NTU) in Singapore. During the early years of her career, Dr. Myo Thida
                        worked as a dedicated research engineer and scientist at A*STAR, Singapore, where she honed her
                        expertise in cutting-edge technologies. Driven by her passion for education and social
                        development, she transitioned to VigorZwe Co. Ltd to provide data analysis services, enhancing
                        the education system and raising training standards in Myanmar. Originating from Myanmar, Dr.
                        Myo has pursued her education in Singapore and London, and has gained professional experience in
                        Singapore, Myanmar, Bhutan, and currently resides in Thailand. Her diverse background has
                        equipped her with a global perspective and a deep understanding of educational systems across
                        different contexts.

                        Dr. Myo Thida’s unwavering dedication to improving education and her relentless pursuit of
                        data-driven insights have positioned her as a catalyst for change. Through VigorZwe Co. Ltd and
                        her involvement in educational reform projects, she continues to make a lasting impact on
                        education systems, empowering individuals, and shaping a brighter future for communities in
                        Myanmar and beyond.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card card-box-shadow">
                <img src="{% static 'blog/images/khinezar.jpeg' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <h6 class="card-title">Khine Zar Thwe</h6>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-box-shadow">
                <div class="card-body">
                    <h5 class="card-title">Co-Founder</h5>
                    <p class="card-text">Ms. Khine Zar Thwe , the founder of Thingaha Education, Women in AI Myanmar
                        Chapter and Technical Programme Director for Women in AI APAC Chapters, is a staunch advocate
                        for diversity and inclusion in the tech industry. Her active participation in managing the Women
                        in Tech Survey project with the Myanmar Data Tech Team showcases her commitment to data-driven
                        insights and collaborative efforts. With her passion for positive societal impact and her
                        founding of the Thingaha Education, providing educational resources to underprivileged children
                        in rural Myanmar, Khine Zar Thwe’s vision centers around ensuring quality education for all
                        children in rural areas, making her a valuable asset to the research consortium.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card card-box-shadow">
                <img src="{% static 'blog/images/logo.png' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <h6 class="card-title">Thiha Ko Ko</h6>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-box-shadow">
                <div class="card-body">
                    <h5 class="card-title">Team Member</h5>
                    <p class="card-text">Mr. Thiha Ko Ko graduated with a Bachelor’s degree in Statistics from the
                        Monywa University of Economics, Monywa, in 2020. In addition, he recently graduated with a
                        post-graduate program in Liberal arts and science from Parami Institute Of Continuing Education,
                        an education institution in Yangon, Myanmar. His research focuses on the role of Wa and China in
                        the Myanmar Peace Process. Outside of academia, He has experience working as a Marketing
                        Associate at Grab Company for one year. Currently, He is working as a data analyst at Burma News
                        International for more than 1 year. He recently participated in the research conducted for
                        understanding the challenges faced by Myanmar Women in Technology as a data Analyst.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card card-box-shadow">
                <img src="{% static 'blog/images/logo.png' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <h6 class="card-title">Han Thuya</h6>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-box-shadow">
                <div class="card-body">
                    <h5 class="card-title">Team Member</h5>
                    <p class="card-text"> Mr. Han Thuya is currently working as a political researcher at a security
                        firm and has been immersed in studying the country’s socio-economic and political issues. His
                        work involves conducting extensive research and presenting findings to clients. Has experience
                        as a teaching assistant for a human rights subject at Institute of Human Rights and Democratic
                        Governance under the Spring University Myanmar and written content on current political
                        landscape under the human rights context. Has a strong interest in digital literacy and its
                        impact on youth in Myanmar. Has created educational content on digital literacy, which has been
                        targeted towards youth.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card card-box-shadow">
                <img src="{% static 'blog/images/logo.png' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <h6 class="card-title">Hnin Ei Ei Naings</h6>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-box-shadow">
                <div class="card-body">
                    <h5 class="card-title">Team Member</h5>
                    <p class="card-text">Ms. Hnin Ei Ei Naing has been actively attending online courses regarding
                        international development. She has experience as a Research Assistant for True North research
                        firm, and participated in projects related to economic development, labor market assessment, and
                        education, including a rapid evaluation of the Parent Teacher Association undertaken by the
                        Ministry of Education. Her role as a research assistant involved developing research
                        questionnaires, conducting interviews, and analyzing data. Currently, Hnin is working as a Youth
                        Economic Empowerment Officer at FHI360, collaborating with local youth organizations and provide
                        training to youths in various areas, including agribusiness, digital, and financial literacy as
                        well as conducting needs assessments and developing support plans to propose effective solutions
                        to address challenges of the youth in rural areas.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card card-box-shadow">
                <img src="{% static 'blog/images/logo.png' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <h6 class="card-title">Hnin Oo Wai Hlaing</h6>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-box-shadow">
                <div class="card-body">
                    <h5 class="card-title">Team Members</h5>
                    <p class="card-text">Ms. Hnin Oo Wai Hlaing , is a second-year master’s student at the University of
                        Tsukuba specializing in International Education. She brings a strong academic background to the
                        research consortium. With her undergraduate studies completed at Yangon University of Education
                        in 2018, she gained practical experience as a high school teacher until 2021. Her involvement as
                        a teaching assistant in the Education Research Program at Spring Normal University highlights
                        her dedication to helping students navigate research techniques. Additionally, as a volunteer
                        teacher in an online federal school, she imparts her knowledge of Mathematics to high school
                        students. Currently, in her role as a program coordinator for the 2023 Thingaha mentorship
                        program, she collaborates with members from technological fields to support high school
                        students, further demonstrating her valuable contributions to the consortium. </p>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-5">
    <!-- Study of Myanmar -->
    <div class="row">
        <div class="col">
            <blockquote class="text-justify mt-4 overlay-text">
                One notable endeavor currently underway is the <em><b>”Study of Myanmar’s Ongoing Higher Education Gap
                        in
                        the Digital Space” (2023)</b></em>. This comprehensive nationwide survey is aimed at collecting
                crucial
                insights and data pertaining to the higher education gap in Myanmar. By leveraging the acquired
                information, the team anticipates making significant contributions to the educational landscape of
                the country.With a commitment to data-driven research and a wealth of expertise in the field, the MMDT
                is
                well-positioned to address the challenges and opportunities within Myanmar’s education sector. MMDT is
                dedicated to
                thoroughly analyzing the survey findings, identifying existing gaps, and formulating actionable
                recommendations to bridge the educational divide and instigate positive change. As the Myanmar Data
                Tech Team continues to evolve, MMDT’s unwavering dedication to improving education through
                data-driven research and innovative solutions remains resolute. The Myanmar Data Tech Team (MMDT) was
                established in 2022, comprising a group of experts from the data
                industry in collaboration.
            </blockquote>
        </div>
    </div>
    <hr class="mt-5">
</div>
{% endblock content %}