{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="banner">
    <div class="row">
        <div class="col-md-12">
            <blockquote class="text-justify mt-4 ">
                The <em><b>Myanmar Data Tech Team (MMDT)</b></em> was established in 2022, comprising a group of experts
                from
                the data industry in collaboration with the Founder of VigorZwe. The primary focus of MMDT is on
                harnessing the power of data and technology to drive advancements within the education sector.
                Through meticulous research and analysis, the team aims to generate valuable insights and develop
                innovative solutions that contribute to the overall improvement of education in Myanmar.
                Despite being relatively new, the MMDT has already demonstrated its capabilities by successfully
                securing grants and undertaking various research projects.
            </blockquote>
        </div>
    </div>
</section>
<section>
    <div class="posts">
        <article>
            <a href="#" class="image"><img class="image" src="{% static 'blog/images/drmyo.jpeg' %}"/></a>
            <header class="major">
                <h3>Dr Myo thida</h3>
            </header>
        </article>
    </div>
    <div class="row"><h4 class="card-title">Founder</h4>
        <p class="card-text">Dr. Myo Thida is a visionary leader and the founder of VigorZwe Co. Ltd. With an impressive
            academic background, she earned her Ph.D. in Computer Vision from Kingston University in 2013. Prior to
            that, she completed her MEng and BEng degrees at Nanyang Technological University (NTU) in Singapore. During
            the early years of her career, Dr. Myo Thida worked as a dedicated research engineer and scientist at
            A*STAR, Singapore, where she honed her expertise in cutting-edge technologies. Driven by her passion for
            education and social development, she transitioned to VigorZwe Co. Ltd to provide data analysis services,
            enhancing the education system and raising training standards in Myanmar. Originating from Myanmar, Dr. Myo
            has pursued her education in Singapore and London, and has gained professional experience in Singapore,
            Myanmar, Bhutan, Thailand and currently resides in the USA. Her diverse background has equipped her with a
            global perspective and a deep understanding of educational systems across different contexts. Dr. Myo
            Thida’s unwavering dedication to improving education and her relentless pursuit of data-driven insights have
            positioned her as a catalyst for change. Through VigorZwe Co. Ltd and her involvement in educational reform
            projects, she continues to make a lasting impact on education systems, empowering individuals, and shaping a
            brighter future for communities in Myanmar and beyond.
        </p>
    </div>
</section>
<section>
    <div class="posts">
        <article>
            <a href="#" class="image"><img class="image" src="{% static 'blog/images/khinezar.jpeg' %}"/></a>
            <header class="major">
                <h3>Khine Zar Thwe</h3>
            </header>
        </article>
    </div>
    <div class="row"><h4 class="card-title">Co-Founder</h4>
        <p class="card-text">Ms. Khine Zar Thwe , the founder of Thingaha Education, Women in AI Myanmar Chapter and
            Technical Programme Director for Women in AI APAC Chapters, is a staunch advocate for diversity and
            inclusion in the tech industry. Her active participation in managing the Women in Tech Survey project with
            the Myanmar Data Tech Team showcases her commitment to data-driven insights and collaborative efforts. With
            her passion for positive societal impact and her founding of the Thingaha Education, providing educational
            resources to underprivileged children in rural Myanmar, Khine Zar Thwe’s vision centers around ensuring
            quality education for all children in rural areas, making her a valuable asset to the research
            consortium.</p>
    </div>
</section>
<section>
    <div class="posts">
        <article>
            <a href="#" class="image"><img class="image" src="{% static 'blog/images/logo.png' %}"/></a>
            <header class="major">
                <h3>Thiha Ko Ko</h3>
            </header>
        </article>
    </div>
    <div class="row"><h4 class="card-title">Team Member</h4>
        <p class="card-text">Thi Ha Ko Ko is a data analyst with a background in statistics and a strong focus on
            journalism and civic tech. He earned his Bachelor’s degree in Statistics from Monywa University of Economics
            in 2020 and began his data journey in 2021 at Burma News International. Currently, he is working as a data
            analyst at THIBI.</p>
    </div>
</section>
<section>
    <div class="posts">
        <article>
            <a href="#" class="image"><img class="image" src="{% static 'blog/images/logo.png' %}"/></a>
            <header class="major">
                <h3>Han Thuya</h3>
            </header>
        </article>
    </div>
    <div class="row"><h4 class="card-title">Team Member</h4>
        <p class="card-text">Mr. Han Thuya is currently working as a political researcher at a security firm and has
            been immersed in studying the country’s socio-economic and political issues. His work involves conducting
            extensive research and presenting findings to clients. Has experience as a teaching assistant for a human
            rights subject at Institute of Human Rights and Democratic Governance under the Spring University Myanmar
            and written content on current political landscape under the human rights context. Has a strong interest in
            digital literacy and its impact on youth in Myanmar. Has created educational content on digital literacy,
            which has been targeted towards youth.</p>
    </div>
</section>
<section>
    <div class="posts">
        <article>
            <a href="#" class="image"><img class="image" src="{% static 'blog/images/logo.png' %}"/></a>
            <header class="major">
                <h3>Hnin Ei Ei Naing</h3>
            </header>
        </article>
    </div>
    <div class="row"><h4 class="card-title">Team Member</h4>
        <p class="card-text">Hnin Ei Ei Naing is a committed researcher in international development, with a
            focus on socio-economic challenges and political economy in Southeast Asia. She is currently a graduate
            fellow at Lund University. She was also a recent visiting fellow at the Cambodia Development Resource
            Institute (CDRI) and a program officer at Freedom House addressing social resilience and human rights. Her
            recent work includes a study on the hidden costs of microfinance in the farming sector, a published article
            in Asia Politics and Policy on digital disparities in Myanmar, a data-driven project on Myanmar’s higher
            education gap supported by the International Development Research Center. In summer 2024, she participated
            in a summer school and research workshop at Palacky University, Czech Republic, exploring geostrategic
            dynamics in the Indo-Pacific with a focus on Southeast Asia and Myanmar.
        </p>
    </div>
</section>
<section>
    <div class="posts">
        <article>
            <a href="#" class="image"><img class="image" src="{% static 'blog/images/logo.png' %}"/></a>
            <header class="major">
                <h3>Hnin Oo Wai Hlaing</h3>
            </header>
        </article>
    </div>
    <div class="row"><h4 class="card-title">Team Member</h4>
        <p class="card-text">Hnin Oo Wai Hlaing is an online education consultant and lifelong learner, holding a
            Bachelor of Education from Yangon University of Education and a Master of Education specializing in
            International Education from the University of Tsukuba, Japan. Her career encompasses two years teaching
            teenagers at a public high school in Myanmar and tutoring students, fostering an early interest in teenage
            mentorship. Driven by her experiences in Myanmar and a master's thesis focused on teachers' responses to SEL
            and mental health, Hnin Oo has transitioned into higher education, currently teaching educational theory at
            a teacher education university and contributing to the design of short courses for educators in Myanmar.
        </p>
    </div>
</section>
<section>
    <div class="posts">
        <article>
            <a href="#" class="image"><img class="image" src="{% static 'blog/images/logo.png' %}"/></a>
            <header class="major">
                <h3>Zin Me Me Kyaw</h3>
            </header>
        </article>
    </div>
    <div class="row"><h4 class="card-title">Team Member</h4>
        <p class="card-text">Ms. Zin Me Me Kyaw holds a Bachelor of Engineering in Electrical Power and has over 15
            years of teaching experience in both higher education and vocational training. She is currently an
            instructor in the Electrical Technology Department of the Dessung Skilling Program in Bhutan. With her
            diverse educational background, Zin has played a significant role in fostering learning and development in
            the field of technology. In addition to her teaching, she actively volunteers with initiatives like the
            Myanmar Data Tech Team, where she helps empower others with essential technical skills through data camps
            and training programs.</p>
    </div>
</section>
<section>
    <div class="posts">
        <article>
            <a href="#" class="image"><img class="image" src="{% static 'blog/images/logo.png' %}"/></a>
            <header class="major">
                <h3>Nuam Man Cing</h3>
            </header>
        </article>
    </div>
    <div class="row"><h4 class="card-title">Team Member</h4>
        <p class="card-text">Ms. Nuam Man Cing holds a Bachelor’s degree in Manufacturing Engineering. She has over 10 years of teaching experience in vocational training and nearly 5 years of experience in research and renovation. She is passionate about teaching and eager to share her knowledge and skills with the younger generation. She also enjoys volunteering .She is currently an instructor in the Electrical Technology Department of the Desuung Skilling Program in Bhutan. In addition to her teaching, she actively volunteers with the Myanmar Data Tech team.</p>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-md-12">
            <blockquote class="text-justify mt-4 ">
                One notable endeavor currently underway is the <em><b>Study of Myanmar’s Ongoing Higher Education Gap in the
                Digital Space</b></em> (2023). This comprehensive nationwide survey is aimed at collecting crucial insights and
                data pertaining to the higher education gap in Myanmar. By leveraging the acquired information, the team
                anticipates making significant contributions to the educational landscape of the country.With a
                commitment to data-driven research and a wealth of expertise in the field, the MMDT is well-positioned
                to address the challenges and opportunities within Myanmar’s education sector. MMDT is dedicated to
                thoroughly analyzing the survey findings, identifying existing gaps, and formulating actionable
                recommendations to bridge the educational divide and instigate positive change. As the Myanmar Data Tech
                Team continues to evolve, MMDT’s unwavering dedication to improving education through data-driven
                research and innovative solutions remains resolute. The Myanmar Data Tech Team (MMDT) was established in
                2022, comprising a group of experts from the data industry in collaboration.
            </blockquote>
        </div>
    </div>
</section>
{% endblock content %}