
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>WiTProject</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> -->
    <meta name="google" content="notranslate"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}"/>
    <!-- Include Javascript Library -->
    <script src="{% static 'blog/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'blog/js/popper.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
</head>
<body>
<!-- Navigation  -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light py-0  shadow" style="background-color: #003399;"
     id="mainNav">
    <!-- <div class="container-fluid"> -->
    <a class="navbar-brand text-light" href="{% url 'home' %}">
        <img src="{% static 'blog/images/logo.png' %}" alt="Myanmar Data Tech Team Logo"
             class="border border-warning rounded  m-2">
        <span class="d-none d-lg-inline h5">Myanmar Data Tech Team</span>
        <br/>
    </a>
    <button class="navbar-toggler navbar-toggler-warning" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse font-weight-bold" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'post_list' %}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'policy' %}">Policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
    </div>
    <!-- </div> -->
</nav>
{% block content %}
<!-- Content Goes here -->
{% endblock content %}
<!-- Footer -->
{% load bootstrap_icons %}
<footer class="py-3 bg-grey">
    <div class="container d-flex justify-content-center mb-4">
        <div class="row">
            <div class="col">
                <a href="#">
                    {% bs_icon 'facebook' size='2em' color='#0055FF' %}
                </a>
            </div>
            <div class="col">
                <a href="#">
                    {% bs_icon 'linkedin' size='2em' color='#0055FF' %}
                </a>
            </div>
            <div class="col">
                <a href="#">
                    {% bs_icon 'telegram' size='2em' color='#0055FF' %}
                </a>
            </div>
        </div>
    </div>
    <p class="text-dark text-center mb-0"><small>Copyright &copy; WiT Myanmar Team</small></p>
    <p class="text-center mt-0"><small> By WiT-Phase3 Group 3</small></p>
</footer>

</body>

</html>