<!DOCTYPE HTML>
<html>
{% load static %}
<head>
    <title>Myanmar Data Tech Team</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/paginator.css' %}"/>

</head>
<!-- Include Javascript Library -->
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header id="header">
                <a href="{% url 'home' %}" class="logo"><strong>Myanmar</strong> Data Tech Team</a>
            </header>
			{% block content %}
			<!-- Content Goes here -->
			{% endblock content %}
        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">
            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2><a href="{% url 'home' %}"><img class="logo" src="{% static 'blog/images/logo.png' %}" style="width: 5em;height: 5em;"></a>
                    </h2>
                </header>
                <ul>
                    <li><a href="{% url 'home' %}">Homepage</a></li>
                    <li><a href="{% url 'about' %}">Our Team</a></li>
                    <li>
                        <span class="opener">Projects</span>
                        <ul>
                            <li><a href="{% url 'our_projects' %}">Our Projects</a></li>
                            <li><a href="{% url 'st_projects' %}">Student Projects</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Playground</span>
                        <ul>
                            <li><a href="{% url 'our_playground' %}">Feedback Analyzer</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'polls:index' %}">Current Opening Survey</a></li>
                </ul>
            </nav>
            <!-- Section -->
            <section>
                <header class="major">
                    <h2>Get in touch</h2>
                </header>
                <ul class="contact">
                    <li class="icon solid fa-envelope"><a href="mailto:myanmardatatechteam@gmail.com">myanmardatatechteam@gmail.com</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/browser.min.js' %}"></script>
<script src="{% static 'assets/js/breakpoints.min.js'%}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</div>
</body>
</html>
