{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mt-4">
        <section><h1>Our Projects</h1></section>
    </div>
    <div class="row mt-4 py-3">
        <div class="col-md-12">
            <iframe
                    src="https://public.tableau.com/views/WomenInTech_16726391156830/MyanmarWomenInTechResearchDataAnalytic?:showVizHome=no&:embed=true"
                    width="100%" height="600"></iframe>
        </div>
    </div>
    <div class="row mt-4 py-3">
        <div class="col-md-12">
            <iframe
                    src="https://public.tableau.com/views/HigherEducation_16941006467670/Story1?:showVizHome=no&:embed=true"
                    width="100%" height="600"></iframe>
        </div>
    </div>
    <div class="row mt-4">
        <section><h1>Our Student Projects</h1></section>
    </div>
    <div class="row mt-4 py-3">
        <div class="col-md-12">
            <iframe title="Report Section" width="100%" height="450"
                    src="https://app.powerbi.com/view?r=eyJrIjoiYTUzMGU4NDEtZmQ1OS00Njg0LWFhNzMtZjgyNmQ4NDM4YmQ0IiwidCI6IjIwOWJkZGNiLWZhM2ItNDU3Mi1hZTU0LTljYTMzNGMwMDhiOSIsImMiOjEwfQ%3D%3D"
                    frameborder="0" allowFullScreen></iframe>
        </div>
    </div>
    <div class="row mt-4 py-3">
        <div class="col-md-12">
            <iframe src="https://public.tableau.com/views/WiTPhase2EvaluationGroup1/Story1?:showVizHome=no&:embed=true"
                    width="100%" height="600"></iframe>
        </div>
    </div>
    <div class="row mt-4 py-3">
        <div class="col-md-12">
            <iframe width="100%" height="450" src="https://lookerstudio.google.com/embed/reporting/72d12a63-3aba-43e3-aa88-803052e738c5/page/k5ocD"
                     frameborder="0" style="border:0" allowFullScreen></iframe>
        </div>
    </div>

</div>
{%endblock%}
