{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<section>
    <header class="major">
        <h2>Our latest News</h2>
    </header>
    {% if post_list|length == 0%}
    <div class="row mt-4">
        <div class="col-md-12">
            <h1 class="text-muted my-5 py-5 text-center">New Posts are coming...</h1>
        </div>
    </div>
    {% else %}
    <div class="posts">
        {% for post in post_list %}
        <article>
            {% if post.image %}
            <a href="{% url 'post_detail' post.slug  %}" class="image"><img src="{{ post.image.url }}" alt=""/></a>
            {% else %}
            <a href="{% url 'post_detail' post.slug  %}" class="image"><img src="{% static 'blog/images/logo.png' %}"alt=""/></a>
            {% endif %}
            <h3>{{ post.title }}</h3>
            <p>{{ post.content|slice:":700"| safe }}...</p>
            <br>
            <p class="actions"><a href="{% url 'post_detail' post.slug  %}" class="button big">Learn More</a></p>
        </article>
        {% endfor %}
        {% endif %}
    </div>
</section>
<!-- Page Navigation -->
<div class="row">
        {% if page_obj.has_other_pages %}
        <header class="major">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;Previous</span>
                <span class="sr-only">Previous</span>
            </a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;Next</span>
                <span class="sr-only">Next</span>
            </a>
        {% endif %}
        {% endif %}
        </header>
</div>
{% endblock content %}
