{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section>
<div class="card mb-3">
  <img class="card-img" src="{{ post.image.url }}" alt="Card image">
  <div class="card-body">
    <h5 class="card-title">{% block title %} {{ post.title }} {% endblock title %}</h5>
    <p class="card-text">{{ post.content | safe }}</p>
    <p class="card-text"><small class="text-muted">{{ post.view_count }} views | Author {{ post.author }} | {{ post.created_on }}</small></p>
  </div>
</div>
</section>
{% endblock content %}