{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<section>
    <header class="major">
        <h2>Our latest News</h2>
    </header>

    <div class="posts">
            {% if post_list_only_subscriber|length == 0%}
        <article>
            New Posts are coming...
            </article>
    {% else %}
        {% for post in post_list_only_subscriber %}
        <article>
            {% if post.image %}
            <a href="{% url 'post_detail' post.slug  %}" class="image"><img src="{{ post.image.url }}" alt=""/></a>
            {% else %}
            <a href="{% url 'post_detail' post.slug  %}" class="image"><img src="{% static 'blog/images/logo.png' %}"alt=""/></a>
            {% endif %}
            <h3>{{ post.title }}</h3>
            <p>{{ post.content|slice:":700"| safe }}...</p>
            <br>
            <ul class="actions"><li><a href="{% url 'post_detail' post.slug  %}" class="button big">Learn More</a></li></ul>
        </article>
        {% endfor %}
        {% endif %}
    </div>
</section>
<!-- Page Navigation -->
<div class="row">
        {% if post_list.has_other_pages %}
        <header class="major">
        {% if post_list.has_previous %}
            <a href="?page={{ post_list.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;Previous</span>
                <span class="sr-only">Previous</span>
            </a>
        {% endif %}
        {% if post_list.has_next %}
            <a href="?page={{ post_list.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;Next</span>
                <span class="sr-only">Next</span>
            </a>
        {% endif %}
        {% endif %}
        </header>
</div>
{% endblock content %}
