{% block sidebar %}

<style>
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right bg-dark-400">
<div class="card shadow my-4 bg-dark-400">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <img src="../media/blue.jpg" alt="Myanmar Data Tech Team" class="w-100 h-100">
        <p class="card-text mt-3">Here, All about the Myanmar Data Tech Team such vision, policy,
            events, workshops and partners. The information of MDDT and photos will be shown here.
            All about the Wit process and what they are doing and what they have achieved.
             This awesome blog is made on the top of our Favourite full stack Framework 'Django', follow up the tutorial to learn how we made it..!</p>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"
           class="btn btn-sm btn-warning font-weight-bold offset-8">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}