{% load static %}
{% block sidebar %}
<style>
</style>
<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right bg-dark-400">
    <div class="card my-4 bg-dark-400 shadow-lg">
        <h5 class="card-header">About Us</h5>
        <div class="card-body">
            <img src="{% static 'blog/images/blue.jpg' %}" alt="Myanmar Data Tech Team" class="w-100 h-100">
            <p class="card-text mt-3">
                The Myanmar Data Tech Team (MMDT) was established in 2022, comprising a group of experts from the data
                industry in collaboration with the Founder of VigorZwe. The primary focus of MMDT is on harnessing the
                power of data and technology to drive advancements within the education sector. Through meticulous
                research and analysis, the team aims to generate valuable insights and develop innovative solutions that
                contribute to the overall improvement of education in Myanmar.
                Despite being relatively new, the MMDT has already demonstrated its capabilities by successfully
                securing grants and
                undertaking various research projects. One notable endeavor currently underway is the ”Study of
                Myanmar’s Ongoing Higher Education Gap in the Digital Space” (2023). This comprehensive nationwide
                survey is aimed at collecting crucial insights and data pertaining to the higher education gap in
                Myanmar. By leveraging the acquired information, the team anticipates making significant contributions
                to the educational landscape of the country.
                With a commitment to data-driven research and a wealth of expertise in the field, the MMDT is
                well-positioned to
                address the challenges and opportunities within Myanmar’s education sector. MMDT is dedicated to
                thoroughly analyzing the survey findings, identifying existing gaps, and formulating actionable
                recommendations to bridge the educational divide and instigate positive change. As the Myanmar Data Tech
                Team continues to evolve, MMDT’s unwavering dedication to improving education through data-driven
                research and innovative solutions remains resolute.


                The Myanmar Data Tech Team (MMDT) was established in 2022, comprising a group of experts from the data
                industry in collaboration with the Founder of VigorZwe Co. Ltd, Dr Myo thida (www.drmyothida.org), and
                the Founder of Thingaha, Ms. Khine Zar Thwe.


            </p>
            <a href="https://djangocentral.com/building-a-blog-application-with-django"
               class="btn btn-sm btn-warning font-weight-bold offset-8">Know more!</a>
        </div>
    </div>
</div>