{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/customization.css' %}"/>
{% block content %}
  <div class="card">
    <h2 class="title">Login</h2>
    <form method="post" class="auth-form">
      {% csrf_token %}
      {{ form.username.label_tag }}
      {{ form.username }}
      {{ form.password.label_tag }}
      {{ form.password }}
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="form-button">Login</button>
    </form>
  </div>
  <p>If you don't want to login <a href="{% url 'users:dashboard' %}">Back to dashboard</a>.</p>
  <p>Don't have an account? <a href="{% url 'users:register' %}">Register</a>.</p>
{% endblock %}
