{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/customization.css' %}"/>
<div class="card">

    <h2>Manage Email Addresses</h2>

    <p>Current email addresses:</p>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li
        {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <ul>
        {% for email in user.emailaddress_set.all %}
        <li>{{ email.email }} {% if email.primary %}(Primary){% endif %} {% if not email.verified %}(Unverified){% endif %}</li>
        {% endfor %}
    </ul>

    <h2>Add a new email address</h2>
    <form method="post" action="{% url 'account_email' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Add Email</button>
    </form>

</div>
{% endblock %}
