{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/customization.css' %}"/>
<div class="card">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <h3>MMDT Account is exclusively for Subscribers</h3>
    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
<!--    <p>Don't have an account? <a href="{% url 'account_signup' %}">Sign up here</a></p>-->
</div>
{% endblock %}
