{% extends "base.html" %}

{% block content %}
  <div class="card">
    <h2 class="title">Login</h2>
    <form method="post" class="auth-form" action="{% url 'accounts:login' %}">
      {% csrf_token %}
      {{ form.username.label_tag }}
      {{ form.username }}
      {{ form.password.label_tag }}
      {{ form.password }}
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="form-button">Login</button>
    </form>
  </div>
  <p>Don't have an account? <a href="{% url 'accounts:register' %}">Register here</a>.</p>
{% endblock %}
